*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    /* display: block; */
    margin: 5px;
    padding: 5px;
    border-radius: 0.5rem;
    background-color:brown;
    color: white;
}

.btn:hover{
    background-color: white;
    color: brown;
}

.exercises{
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background-color: blueviolet;
    border-radius: 0.5rem;
    
    display: flex;
    gap: 2rem;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exercise{
    flex-grow: 1;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(236, 236, 236, 0.6);
    box-shadow: 2px 2px 11px 0px #000000;
}